name: Build & Test Azprism

on:
  pull_request:
  push:
    branches: 
    - main
    - 'feat/*'

permissions:
  contents: write

env:
  DOTNET_VERSION: '10.0.100'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Install dependencies
      run: dotnet restore src/azprism.csproj

    - name: Build & Publish
      run: |
        dotnet build src/azprism.csproj --no-restore

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Run tests
      run: |
        dotnet test
